doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', charset='text/html; utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    meta(name='author', content='Treode, Inc.')
    link(rel='shortcut icon', type='image/x-icon', href='{{ site.baseurl }}/img/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='{{ site.baseurl }}/img/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='{{ site.baseurl }}/img/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='{{ site.baseurl }}/img/apple-touch-icon-precomposed.png')
    link(rel='alternate', type='application/rss+xml', title='RSS', href='/atom.xml')
    link(rel='stylesheet', href='{{ site.baseurl }}/css/poole.css')
    link(rel='stylesheet', href='{{ site.baseurl }}/css/treode.css')
    link(rel='stylesheet', href='{{ site.baseurl }}/css/syntax.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,400,700')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    title.
      {% if page.title %}
        {{ page.title }} &middot; {{ site.title }}
      {% else %}
        {{ site.title }} &middot; {{ site.tagline }}
      {% endif %}

  body

    .sidebar

      .container.sidebar-header
          img(src='{{ site.baseurl }}/img/sidebar-logo.png')

      nav.sidebar-nav
        | {% assign pages = site.pages | sort: 'order' %}
        | {% for node in pages %}
        |   {% if node.title != null and node.layout == "page" %}
        |     <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}", href="{{ site.baseurl}}{{ node.url }}">{{ node.title }}</a>
        |   {% endif %}
        | {% endfor %}
        hr
        a.sidebar-nav-item(href="https://github.com/Treode/store")
          | Source Code
          i.fa.fa-external-link

    .sidebar-footer
      span.sidebar-legal
        | &copy;&nbsp;
        a(href='//www.treode.com') Treode, Inc.
        | &nbsp;under&nbsp;
        a(href='//creativecommons.org/licenses/by/4.0/') CC BY 4.0

    .content.container {{ content }}

    label.sidebar-button

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script.
      $(".sidebar-button").click(function(){
        $("body").toggleClass("sidebar-open");
      });
